rules_version = '2';
// This is needed for tests, as storage emulator requires rules.
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
