// DO NOT SUBMIT
* {
  overflow: auto;
}

.DocumentEditor {
  overflow: scroll;
}

.FieldEditor {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 16px;
  grid-auto-columns: max-content;
}

.FieldEditor-children {
  padding-left: 32px;
}
