.filterForm {
  width: 100%;

  :global
    .mdc-text-field:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) {
    input.mdc-text-field__input {
      padding-left: 50px;

      &::placeholder {
        text-overflow: ellipsis;
      }
    }

    // Get rid of material line in the bottom of the input.
    .mdc-line-ripple {
      display: none;
    }
  }
}
