.zeroStateWrapper {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noResultsWrapper {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
