$mdc-tab-height: 44px;
@import '@material/theme/variables'; // for mdc-theme-prop-value
@import '@material/tab/variables';
@import '@material/top-app-bar/variables';

$app-bar-title-height: 48px;
$app-bar-height: $mdc-tab-height + $app-bar-title-height;
