@import './AppBar_variables';
@import './variables';

$page-gutter-size: 48px;

.App {
  // Mainly to fill the whole screen with background color.
  min-height: 100vh;
}

.App-main {
  padding-top: $app-bar-height + $app-main-real-vert-padding;
  padding-bottom: $app-main-real-vert-padding;
  margin: 0 auto;
  max-width: 1256px + (2 * $page-gutter-size); // offset grid margins
  padding-left: $page-gutter-size;
  padding-right: $page-gutter-size;
}
