.Database {
  display: flex;
  background-color: #fff;
}

.Database-Picker {
  min-width: 30%;
}

.Database-Database {
  // A few things in the data viewer uses position: absolute.
  position: relative;
  padding: 28px;

  flex: 1;
}
