.Home-EmulatorCard {
  h4 {
    margin-bottom: 0;
  }

  .title {
    align-items: flex-start;
    display: flex;
    margin-top: 8px;
    min-height: 64px;

    .rmwc-icon {
      margin-right: 8px;
      margin-top: 6px;
    }
  }
}

.Home-EmulatorCard-Info {
  margin: 16px;
}
