.emailWrapper {
  display: flex;
  align-items: flex-end;

  > {
    flex-grow: 0;
    flex-shrink: 0;
  }

  // Hiding error container, as we're using custom one for both fields
  :global .Field {
    flex-basis: 50%;
    padding-bottom: 0;

    .Field-subtext {
      display: none;
    }
  }
}

.error {
  height: 16px;
  display: inline-block;
}

.customAttributesWrapper {
  padding: 0;
  border: 0 solid;
  margin: 0;
  display: flex;

  legend {
    padding: 0;
    padding-inline-start: 0;
  }

  [role='group'] {
    display: flex;
  }
}

.customAttributeWrapper {
  display: flex;
}
