@import './components/AppBar/variables';

.App {
  // Mainly to fill the whole screen with background color.
  min-height: 100vh;
}

.App-main {
  padding-top: $app-bar-height + 24px;
  margin: 0 auto;
  max-width: 1256px + 48px; // offset grid margins
}

.canvas-card {
  overflow-y: hidden; // hide jagged corners on canvas cards
}
