@import './components/AppBar/variables';
@import './App_variables.scss';

.App {
  // Mainly to fill the whole screen with background color.
  min-height: 100vh;
}

.App-main {
  padding-top: $app-bar-height + $app-main-real-vert-padding;
  padding-bottom: $app-main-real-vert-padding;
  margin: 0 auto;
  max-width: 1256px + 48px; // offset grid margins
  padding-left: 48px;
  padding-right: 48px;
}
