@import '../../common/color';
@import 'common/mixins';

$name: 'NodeParent';

.NodeParent {
  position: relative;

  .#{$name}__tree-button {
    background-color: transparent;
    border: none;
    color: $COLOR_TEXT_SECONDARY;
    cursor: pointer;
    height: 32px;
    outline: none;
  }

  .#{$name}__label {
    @include hoverKey($name);
    align-items: center;
    color: $COLOR_TEXT_SECONDARY;
    display: flex;
    height: 32px; // to fit buttons

    > .NodeActions {
      display: none;
      margin-left: 12px;
    }

    &:hover > .NodeActions,
    .NodeActions--active {
      display: inline-block;
    }
  }

  .Firestore-Field-inline-editor {
    position: absolute;
    left: -4px;
    top: 32px;
    right: -4px;
    z-index: 2;
  }

  .#{$name}__children-container {
    margin-left: 36px;
  }

  .#{$name}__children {
    list-style-position: inside;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .mdc-menu-surface--anchor {
    display: inline;
  }
}
form {
  display: block;
}
