@import '../../common/color';
@import 'common/mixins';

$name: 'NodeLeaf';

.NodeLeaf {
  @include hoverKey($name);

  align-items: center;
  color: $COLOR_TEXT_SECONDARY;
  display: flex;
  height: 32px;
  padding-left: 38px; // alignment with expand/collapse icons
  position: relative;
  flex-wrap: wrap;

  .#{$name}__key,
  .#{$name}__value {
    font-family: 'Roboto Mono', monospace;
  }

  .#{$name}__value {
    color: $COLOR_TEXT_PRIMARY;
    margin-left: 8px;
    cursor: pointer;
  }

  .#{$name}__actions {
    visibility: hidden;
    flex: 1;
  }

  .#{$name}__edit-ui {
    width: 100%; // force flex-wrap
  }

  .Firestore-InlineEditor-relative-anchor {
    .Firestore-InlineEditor {
      left: -8px;
      right: initial;
      top: -36px; // float over the key being edited
    }
  }

  &:hover > .#{$name}__actions {
    visibility: visible;
  }
}
