.NodeLink {
  font-family: 'Roboto Mono', monospace;
  cursor: pointer;

  &:link,
  &:visited {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .key {
    white-space: pre;
  }

  .material-icons {
    font-size: 20px;
    height: 20px;
    width: 20px;
    vertical-align: middle;
  }
}
