# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  - push
  - pull_request

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [8, 10, 12]

    container: node:${{ matrix.node-version }}

    steps:
    - uses: actions/checkout@v2

    - name: Cache node_modules/
      uses: actions/cache@v1
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node${{ matrix.node-version }}-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node${{ matrix.node-version }}-

    - run: npm i

    - run: npm run build
      env:
        CI: true

  unit:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [8, 10, 12]

    container: node:${{ matrix.node-version }}

    steps:
    - uses: actions/checkout@v2

    - name: Cache node_modules/
      uses: actions/cache@v1
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node${{ matrix.node-version }}-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node${{ matrix.node-version }}-

    - run: npm i

    - run: npm run test:coverage
      env:
        CI: true

  check-package-lock:

    runs-on: ubuntu-latest

    container: node:12

    steps:
    - uses: actions/checkout@v2

    - name: Cache node_modules/
      uses: actions/cache@v1
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node12-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node12-

    - run: npm install --package-lock-only
    - run: "git diff --exit-code -- package-lock.json || (echo 'Error: package-lock.json is changed during npm install! Please make sure to use npm >= 6.9.0 and commit package-lock.json.' && false)"
